body 
{
  font-family: sans-serif;
}

.fon 
{
  background: slateblue;
}

table.fon
{
  border-collapse: separate;
}

.chet
{
  background-color: purple;
}

.nechet
{
  background-color: indigo;
}

a
{
  color: black;
}



